-i https://pypi.org/simple/
affine==2.3.0
attrs==20.3.0
certifi==2020.12.5
chardet==3.0.4
click-plugins==1.1.1
click==7.1.2
cligj==0.7.1
idna==2.8
jinja2==2.10.1
markupsafe==1.1.1
numpy==1.19.5
pillow==8.1.1
pyparsing==2.4.7
rasterio==1.0.24
requests==2.22.0
shapely==1.6.4.post2
simplification==0.4.2
snuggs==1.4.7
urllib3==1.25.11
